*{
    margin: 0;
    padding: 0;;
}

body{
    background: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65vh;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scoreboard{
    display: flex;
    font-size: 35px;
    column-gap: 130px;
    font-size: bold;
}
.gamebox{
    background: linear-gradient(red, yellow);
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);

}

.snakeBody{
    background-color: rgb(13, 141, 226);
    border: 2px solid black;
}

.snakeHead{
    background: url(img/head.png);
    background-size: cover;
}